/* Resetting default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic body styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* Navigation styles */
nav {
  background-color: #000000;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Label styles */
label {
  margin-right: 10px;
}

/* Date input styles */
input[type="date"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Button styles */
button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background-color: #007bff;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

h1{
  color: white;
  font-weight: bold;
}


/* Style for Attendance Table */
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

/* Style for Attendance Symbols */
.attendance-symbol {
  font-size: 18px;
  margin-right: 5px;
}

.present {
  color: green;
}

.absent {
  color: red;
}